.lds-ring {
    @apply inline-block relative w-20 h-20 ;
  }
  .lds-ring div {
    @apply  box-border block absolute w-16 h-16 m-2 border-8 border-white rounded-full border-s-white border-b-transparent border-t-transparent   border-e-transparent ; 
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
  .lds-ring div:nth-child(1) {
    @apply delay-[-0.45s];
  }
  .lds-ring div:nth-child(2) {
    @apply delay-[-0.3s];
  }
  .lds-ring div:nth-child(3) {
    @apply delay-[-0.15s];
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  